
.hg/
binaries/
deriveddatacache/
.vs/
.vscode/
build/
Build/
!Build/
Build/*
Build/**/FileOpenOrder/
Build/**/FileOpenOrder/**
!Build/Windows/
Build/Windows/*
!Build/Windows/PipelineCaches/
Build/Windows/PipelineCaches/**
!Build/Windows/PipelineCaches/*.spc
!Build/Windows/PipelineCaches/*.upipelinecache
Build/Windows/PipelineCaches/*.rec.upipelinecache
!Build/Linux/
Build/Linux/*
!Build/Linux/PipelineCaches/
Build/Linux/PipelineCaches/**
!Build/Linux/PipelineCaches/*.spc
!Build/Linux/PipelineCaches/*.upipelinecache
Build/Linux/PipelineCaches/*.rec.upipelinecache
intermediate/
PACKPLUGIN/
COMPPLUGIN/
saved/
*.orig
*.sln
*.xlsx
.renom/

**/ExportedFbx/
BuildLogs/
**/__pycache__/
*.pyc
**/VoxelDebug/
